img{
    height: 60px;
    width: 60px;
}
.header{
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    height: 124px;
    justify-content: center;
    transition: all ease-in-out 1s;
}
.full-height{
    height: 90vh;
    transition: all ease-in-out 1s;
}